/**** FONTS ****/
@font-face {
  font-family: 'Gotham-Bold';
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.woff") format("woff");
  font-style: normal;
  font-stretch: normal; 
}

@font-face {
  font-family: 'Gotham-Light';
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.woff") format("woff");
  font-style: normal;
  font-stretch: normal; 
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-style: normal;
  font-stretch: normal; 
}

/**** ELEMENTS ****/
body {
	font-family: 'SourceSansPro-Regular';
}
h1 {
	font-family: 'Gotham-Bold';
	font-size: 19px;
	margin-top: 0;
	text-transform: uppercase;
}
.description-text > p {
	margin-bottom: 30px;
}
h2 {
	font-family: 'Gotham-Bold';
	font-size: 13px;
	margin-top: 0;
	text-transform: uppercase;
}
h3{
	font-family: 'SourceSansPro-Regular';
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}
h4{
	font-family: 'Gotham-Bold';
	font-size: 12px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
a {
	text-decoration: underline;
}
strong {
	font-family: 'Gotham-Bold';
}
label {
	font-family: 'Gotham-Light';
	font-size: 10px;
	text-transform: uppercase;
}
select {
	margin: 0 20px 0 5px;
}
.row {
	opacity: 0;
	transition: all ease 0.3;
}
.row.introduction {
	opacity: 1;
}
.title {
	display: flex;
}
.title span {
	font-style: italic;
	margin-left: auto;
}
.icon-ocha {
	color: #046bb5;
	font-size: 24px;
	left: 25px;
	position: absolute;
	top: 10px;
}
.icon-education {
	font-size: 18px;
}
.text-center {
	text-align: center;
}
.small{
	font-size: 12px;
}
.container{
	margin: 20px auto;
}
.num{
	color: #418FDE;
	display: inline-block;
	font-family: 'Gotham-Light';
	font-size: 28px;
	font-weight: 700;    
	padding: 0 20px 0 3px;
}
#map {
	background-color: #D4E5F7;
}
.map-tip{
  position: absolute;
}
.d3-tip {
  padding:5px;
  background-color:white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-size:1em;
}
#adm2layer path {
	cursor: pointer;
}
#adm2layer path.inactive {
	cursor: default;
}
.regionLabel {
	position: absolute;
	z-index: 2;
	bottom: 65px;
	right: 35px;
	text-align: right;
}
.countryLabel {
	fill: #333;
	font-size: 12px;
	text-transform: uppercase;
}
.c3-title,
.c3-legend-item,
.c3-axis {
	font-family: 'SourceSansPro-Regular';
}
.c3-title {
	font-size: 12px;
}
#idpStats {
	margin: 10px 0;
}
#idpDates {
	font-family: 'SourceSansPro-Regular';
	font-weight: normal;
	text-transform: capitalize;
}
.empty {
	height: 100px;
	position: relative;
}
.empty .num {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.mockup {
	width: 100%;
}
.margin-bottom {
	margin-bottom: 30px;
}
.errorLabel {
	color: #ECA154;    
	font-family: 'Gotham-Bold';
	display: none;
}

